
table{
    margin: 0 auto;
    border-radius: 100px;
}

td{
    width: 1%;
    height: 1%;
    max-width: 1%;
    max-height: 1%;
    min-width: 1%;
    min-height: 1%;
    margin: 1%;
}
input[type="text"] {
    width: 98%;
    position: relative;
    border-radius: 6px;
    }

input[type="number"], input[type="email"] {
    width: 97%;
    position: relative;
    border-radius: 6px;
}

input[type="Adresse"] {
    width: 98%;
    height: 130px;
    position: relative;
    border-radius: 6px;
    }
    
input[type="submit"] {
    background-color:rgb(48, 171, 228);
    color: white;
    border-radius: 4px;
    height: 40PX;
    width: 110px;
}

.red{
    color: red;
}

.white{
    color: white;
}


body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("photofond.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}